body { 
    font-family: Arial, sans-serif; 
    background-color: aliceblue;
}

h1 { 
    text-align: center; 
    border-bottom: solid 4px;
}

h2 { 
    color: red; 
    text-transform: uppercase;
}

hr {
    width: 50%;
    margin: auto;
}